@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* .post-feed {

} */

.homepage-new-post {
    padding: 0 20px 20px 20px;
}

.new-post-form {
    display: flex;
    width: 100%;
    align-items: center;
}

.new-post-form > textarea {
    width: 100%;
    background-color: #F2F4F7;
    margin: 4px;
    height: 3em;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}