@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #F2F4F7;
}

#root {
    height: 100%;
    width: 80vw;
    margin: 0 auto;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 80%;
    border-right: 1px solid rgb(90, 90, 90);
    border-left: 1px solid rgb(90, 90, 90);
    padding-top: 20px;
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-styles: none;
    scrollbar-width: none;
    overflow-anchor: auto;

    background-color: #fdfeff;
}

.follow-container {
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 8px;
    margin: 4px;
}

.post-likes:hover,
.comment-likes:hover,
.follow-container:hover {
    background-color: #dfe2e9;
}

.unlike {
    filter: invert(30%) sepia(87%) saturate(4154%) hue-rotate(215deg) brightness(103%) contrast(110%);
}

.unlike:hover,
.unfollow:hover {
    filter: invert(36%) sepia(91%) saturate(7487%) hue-rotate(357deg) brightness(91%) contrast(128%);
}

.like:hover,
.follow:hover {
    filter: invert(30%) sepia(87%) saturate(4154%) hue-rotate(215deg) brightness(103%) contrast(110%);
}